@model BCryptHashGenerator.Models.HomeModel
@{
    ViewBag.Title = string.IsNullOrEmpty(Model.PlainText)
        ? "Home Page"
        : "BCrypt Hash of " + Html.Encode(Model.PlainText);
}
<h3>Fill in the plain text and you'll get a BCrypt hash back:</h3>
@using (Html.BeginForm("Index", "Home", method: FormMethod.Get)) {
    <fieldset>
        <legend>Calculate BCrypt Hash</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.PlainText)
                @Html.TextBoxFor(m => m.PlainText)
            </li>
            <li>
                @Html.LabelFor(m => m.BCryptHash)
                <blockquote>
                    @Model.BCryptHash
                </blockquote>
            </li>
        </ol>
        <input type="submit" value="Generate BCrypt Hash" />
    </fieldset>
}
<h3>Recent Hash Requests</h3>
<ul class="list-group">
    @foreach (var item in (HttpContext.Current.Application["RecentItems"] as List<string> ?? new List<string>()))
    {
        <li class="list-group-item">
            <a href="/?PlainText=@Url.Encode(item)">
                @item
            </a>
        </li>
    }
</ul>

